.board-wrapper {
  padding: 16px;
  border-radius: 10px;
  background-color: #e5e4eb;
  display: inline-block;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
}

.tile {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: bold;
  font-size: 1.8em;
  color: white;
 

  &--c-0 {
    background-color: #1c1735;
  }
  &--c-1 {
    background-color: #b0cc44;
  }
  &--c-2 {
    background-color: #78ba3f;
  }
  &--c-4 {
    background-color: #3ab074;
  }
  &--c-8 {
    background-color: #2da8e1;
  }
  &--c-16 {
    background-color: #3566af;
  }
  &--c-32 {
    background-color: #514697;
  }
  &--c-64 {
    background-color: #7d4394;
  }
  &--c-128 {
    background-color: #c0308a;
  }
  &--c-256 {
    background-color: #db2f4e;
  }
  &--c-512 {
    background-color: #e04932;
  }
  &--c-1024 {
    background-color: #e96125;
  }
  &--c-2048 {
    background-color: #ff0000;
  }

  &--c--1 {
    background-image: url("/img/stop.png");
    background-size: cover;
    font-size: 0;
  }
}
