@import './base.scss';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h1, .h1 {
  font-weight: 500;
  font-size: 2.6rem;
}

h2, .h2 {
  font-weight: 500;
  font-size: 2rem;
}

h3, .h3 {
  font-weight: 500;
  font-size: 1.4rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  cursor: pointer;
}

button {
  padding: 10px 16px;
  background: var(--color-text);
  color: var(--color-background);
  border-radius: 8px;
  box-shadow: none;
  border: 0;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    opacity: 0.7;
  }
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
